.navbar {
    width: 100%;
    height: auto;
    display: block; 
    background-color: rgb(0, 0, 0);
}

.navbar .container {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    height: 6vh;
}

.navbar .container div a {
    text-decoration: none;
    font-size: 1.5em;
    color: lavender;
}
.navbar .container div {
    margin: 0 1vw;
    height: auto;
    padding: 1.2vh 1.2vw;
}
.navbar .container div:hover {
    background-color: grey;
}
body {
    margin: 0;
    padding: 0;
    background: url('Background.jpg') no-repeat;
    background-size: cover;
}
.box {
    width: 450px;
    background: rgb(0,0,0);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    color: white;
    font-family: 'Century Gothic',sans-serif;
}
.box-img {
    border-radius: 90%;
    width: 60%;
    height: 30%;
}
.box h2{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}
.box h4 {
    margin: 15px 0;
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
}
.box p {
    text-align: justify;
}
ul {
    margin: 0;
    padding: 0;
}
.box li {
    display: inline-block;
    margin: 6px;
    list-style: none;
}
.box li a{
    color: white;
    text-decoration: none;
    font-size: 50px;
    transition: all ease-in-out 250ms;
}
.box li a:hover{
    color: #313030;
}
.about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-content p {
    position: absolute;
    margin: 50px 25vw 0 25vw;
    top: 50%;
    text-align: justify;
    transform: translateY(-50%);
    color: black;
}
.about-content h1{
    margin-top: 90px;
    font-size: 30px;
    color: black;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Century Gothic',sans-serif;
}